@import '~bootstrap/scss/bootstrap';
@import "@fortawesome/fontawesome-free/css/all.css";

.nav-dash {
    background-color: #d5e9f4;
}

.adm-header {
    background-color: #d5e9f4;
}

.logo-img {
    width: 65px;
}

.message-email {
    font-size: .9rem;
}

.bg-doc {
    background-color: #d5e9f4;
}